{% extends "app/layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Handle modal -->
    <script>
        function showModal() {
            $(".modal-body").html("Are you sure that you would like to remove this account?<br><small>Please be aware that this action is final and cannot be undone.</small>");
            $("#confirm-remove").find('.btn-primary').attr('onclick', "window.location='/account/remove/'");
            $("#confirm-remove").modal('show');
        };
    </script>

    <br>

    <nav class="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Account</li>
        </ol>
    </nav>

    <div class="container-flex white p-4 shadow">
        <h4><i class="fas fa-user"></i> {{ user }}</h4>

        <br>

        <a href="javascript:void(0)" onclick="showModal();" class="btn btn-primary" style="background-color: #ff338c; border: 0;">Remove Account</a>
        <br>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-remove" tabindex="-1" role="dialog" aria-labelledby="confirm-remove-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirm-remove-title">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Please confirm that you would like to delete [].
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}