{% extends "app/layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block main %}
    <br>

    <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Help</li>
        </ol>
    </nav>

    <h1>Help</h1>
    <br>

    <p>The below guide will help you to get the most out of LearnIt.</p>

    <h5>Lists</h5>
    <p>Limit of 20 lists.</p>

    <h5>Items</h5>
    <p>Limit of 100 items per list.</p>

    <h5>Statistics</h5>
    <p>Text</p>

{% endblock %}