{% extends "app/layout.html" %}

{% block title %}
    Item
{% endblock %}

{% block main %}
    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://raw.githubusercontent.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>

    <!-- Handle remove modal -->
    <script>
        function showModal() {
            jQuery.noConflict();
            $(".modal-body").html("Are you sure you would like to remove <b>" + "{{ item }}" + "</b>?");
            $("#confirm-remove").find('.btn-primary').attr('onclick', "window.location='/item_remove/{{ item.pk }}';");
            $("#confirm-remove").modal('show');
        };
    </script>

    <!-- Handle reset modal -->
    <script>
        function showResetModal() {
            jQuery.noConflict();
            $(".modal-body").html("Are you sure you would like to reset the statistics for <b>" + "{{ item }}" + "</b>?");
            $("#confirm-remove").find('.btn-primary').attr('onclick', "window.location='/item/reset_stats/{{ item.pk }}';");
            $("#confirm-remove").modal('show');
        };
    </script>

    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Set the state of health bar -->
    <script>
        $(document).ready(function() {
            $(".health-bar").width(state + "%");
            if (state <= 50 && state > 25) {
                $(".health-bar").css('background-color', '#ffae00');
            }
            else if (state <= 25){
                $(".health-bar").css('background-color', '#ff338c');
            }
        });
    </script>

    <br>

    <nav class="breadcrumb"  aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><a href="/items">Items</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ item }}</li>
        </ol>
    </nav>

    <div class="container white p-4 shadow">
        <div class="heading-inline-links">
            <h1>{{ item }}</h1>
            <a href="{% url 'item_edit' pk=item.pk %}" class="inline-link"><i class="far fa-edit"></i></a>
            <a href="javascript:void(0)" onclick="showModal();" class="inline-link"><i class="far fa-trash-alt"></i></a>
        </div>

        <br>
        <span class="badge badge-info"><a href="{% url 'list_view' pk=item.list.pk %}">{{ item.list }}</a></span>
        <br>

        <br>

        <div class="health-container">
            <div class="health-bar"></div>
        </div>

        <br>

        <h5>{{ item.secondary }}</h5>
        <p>{{ item.comments }}</p>

        <br>

        <div class="stat-container">
            <div class="stat-correct">
                <b>{{ item.correct }}</b>
            </div>
            <small><b>Correct</b></small>
        </div>
        <div class="stat-container">
            <div class="stat-incorrect">
                <b>{{ item.incorrect }}</b>
            </div>
            <small><b>Incorrect</b></small>
        </div>
        <br>
        <br>

        <small><a href="javascript:void(0)" onclick="showResetModal();">Reset Status</a></small>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="confirm-remove" tabindex="-1" role="dialog" aria-labelledby="confirm-remove-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirm-remove-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Please confirm that you would like to delete [].
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}