{% extends "app/layout.html" %}
{% load static %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Override CSS -->
    <link rel="stylesheet" href="{% static 'css/override.css' %}">

    <!-- Handle list modal -->
    <script>
        function showListModal() {
            $(".modal-body").html("Are you sure you would like to remove <b>" + "{{ list }}" + "</b>?");
            $("#confirm-remove").find('.btn-primary').attr('onclick', "window.location='/list_remove/{{ list.pk }}';");
            $("#confirm-remove").modal('show');
        };
    </script>

    <!-- Handle item modal -->
    <script>
        function showItemModal(pk, item) {
            $(".modal-body").html("Are you sure you would like to remove <b>" + item + "</b>?");
            $("#confirm-remove").find('.btn-primary').attr('onclick', "window.location='/item_remove/" + pk + "'");
            $("#confirm-remove").modal('show');
        };
    </script>

    <!-- Set the states of health bars -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.health-bar').each(function(){
                $(this).width($(this).text() + "%");
                if ($(this).text() <= 50 && $(this).text() > 25) {
                    $(this).css('background-color', '#ffae00');
                }
                else if ($(this).text() <= 25){
                    $(this).css('background-color', '#ff338c');
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#data-table').DataTable();
        } );
    </script>

    <br>

    <nav class="breadcrumb"  aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active"><a href="/lists">Lists</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ list }}</li>
        </ol>
    </nav>

    <div class="heading-inline-title">
        <h4>{{ list }} </h4>
        <a href="{% url 'list_edit' pk=list.pk %}"><i class="far fa-edit"></i></a>
        <a href="javascript:void(0)" onclick="showListModal();"><i class="far fa-trash-alt"></i></a>
        <a href="{% url 'item_create' pk=list.pk %}" class="btn btn-primary float-right">Add New Item</a>
    </div>

    <br>

    <div class="container-flex white">
        <table class="table table-striped table-borderless shadow" id="data-table">
            <thead>
                <tr>
                    <th scope="col" class="p-4">NAME</th>
                    <th scope="col" class="p-4">STATUS</th>
                    <th scope="col" class="p-4"></th>
                    <th scope="col" class="item-actions p-4"></th>
                </tr>
            </thead>
            <tbody>
            {% if query %}
                {% for item in query %}
                    <tr>
                        <td class="px-4"><a href="{% url 'item_view' pk=item.pk %}">{{ item }}</a></td>
                        <td class="px-4">
                            {{ item.marks_percent }}
                        </td>
                        <td class="px-4" style="vertical-align: middle;">
                            <div class="health-container">
                                <div class="health-bar"><span style="visibility: hidden;">{{ item.marks_percent }}</span></div>
                            </div>
                        </td>
                        <td class="item-actions px-4">
                            <a href="javascript:void(0)" onclick="showItemModal('{{ item.pk }}', '{{ item }}');"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="px-4">
                        <a href="{% url 'item_create' pk=list.pk %}">Add an item...</a>
                    </td>
                    <td class="px-4"></td>
                    <td class="px-4"></td>
                    <td class="px-4"></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="confirm-remove" tabindex="-1" role="dialog" aria-labelledby="confirm-remove-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirm-remove-title">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Please confirm that you would like to delete [].
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}